<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<header>
    <h2>Crear Usuario</h2>
    <a href="{{ url_for('ver_usuarios') }}">⬅ Volver</a>
</header>

<section>
    <form method="POST">
        <input type="text" name="usuario" placeholder="Usuario" required>
        <input type="password" name="contrasena" placeholder="Contraseña" required>
        <button type="submit">Guardar</button>
    </form>
</section>

</body>
</html>
